designs/server/services/customerList/customerList_service.json
[
    {
        "id": "SSD_SERVICE_ID_sd_qF85PdzcrJoPE5YP",
        "type": "tab",
        "createdDate": "2023-05-04T11:04:40.001Z",
        "label": "customerList_service",
        "disabled": false,
        "info": "",
        "functionSeq": 0,
        "generateNext": true,
        "serviceName": "customerList_service",
        "relativeParentPath": "customerList"
    },
    {
        "id": "sd_tOAKy4hUcy2nkaWw",
        "type": "Start",
        "z": "SSD_SERVICE_ID_sd_qF85PdzcrJoPE5YP",
        "viewType": "client-server",
        "nodeType": "start",
        "name": "cutomerListService",
        "outputs": 1,
        "inputVariables": [],
        "localVariables": [],
        "accept_bh": true,
        "functionName": "cutomerListService",
        "category": "General",
        "x": 65,
        "y": 80,
        "wires": [
            [
                "sd_2aSel4ihaOfnoenA"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "customerList_service"
    },
    {
        "id": "sd_2aSel4ihaOfnoenA",
        "type": "Script",
        "z": "SSD_SERVICE_ID_sd_qF85PdzcrJoPE5YP",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.local.collection = \"orders\"\n// bh.local.query = {empId: bh.local.employee.data.employeeid};\n\nbh.local.aggregate = ([\n    {\n        $match: {empId: bh.input.params.empId}\n    },\n    {\n        $project:{\n             product: {\n        $arrayElemAt: [\"$product\", 0]\n      },\n            customerNumber:1,\n            totalAmount:1,\n            paymentStatus:1,\n            paymentid:1\n\n        }\n    },\n     {\n    $lookup: {\n      from: \"product\",\n      localField: \"product.productid\",\n      foreignField: \"_id\",\n      as: \"productDetails\"\n    }\n  },\n   {\n        $project:{\n            customerNumber:1,\n            totalAmount:1,\n            paymentStatus:1,\n            paymentid:1,\n            productDetails:{\n              $arrayElemAt: [\"$productDetails\", 0]\n            }\n\n        }\n    },\n])",
        "functionName": "sd_2aSel4ihaOfnoenA",
        "category": "Function",
        "x": 225,
        "y": 80,
        "wires": [
            [
                "sd_kjF3CBejwgttWfnB"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "customerList_service",
        "generated": true
    },
    {
        "id": "sd_kjF3CBejwgttWfnB",
        "type": "Mongodb",
        "z": "SSD_SERVICE_ID_sd_qF85PdzcrJoPE5YP",
        "viewType": "server",
        "nodeType": "flow",
        "name": "",
        "databaseConfig": "sd_qYoT2PgM4f1tomGX",
        "collection": "bh.local.collection",
        "options": "",
        "resultMapping": "bh.local.aggResult",
        "operation": "aggregate",
        "argumentArray": [
            "aggregate"
        ],
        "aggregate": "bh.local.aggregate",
        "operations": "",
        "query": "bh",
        "fieldOrSpec": "",
        "filter": "",
        "key": "",
        "docId": "",
        "indexName": "",
        "replacement": "",
        "update": "",
        "xAxis": "",
        "yAxis": "",
        "indexes": "",
        "docs": "",
        "document": "",
        "newName": "",
        "doc": "",
        "filePath": "",
        "fileName": "",
        "pipeline": "",
        "functionName": "sd_kjF3CBejwgttWfnB",
        "category": "Storage",
        "x": 385,
        "y": 80,
        "wires": [
            [
                "sd_XNcTPTwUYD5qia5w"
            ]
        ],
        "__ssdTypeInputs__": {
            "collection": {
                "type": "bh.local",
                "value": "collection",
                "constant": false
            },
            "options": {
                "type": "bh",
                "value": "",
                "nullable": "true",
                "constant": false
            },
            "resultMapping": {
                "type": "bh.local",
                "value": "aggResult",
                "constant": false
            },
            "query": {
                "type": "bh",
                "value": "",
                "constant": false
            },
            "aggregate": {
                "type": "bh.local",
                "value": "aggregate",
                "constant": false
            }
        },
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "customerList_service",
        "generated": true
    },
    {
        "id": "sd_2Sr5lwEip8ST9Ckg",
        "type": "Script",
        "z": "SSD_SERVICE_ID_sd_qF85PdzcrJoPE5YP",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "const Razorpay = require('razorpay');\nvar instance = new Razorpay({ key_id: \"rzp_test_JK2eMcWr8sfXEU\", key_secret: \"LwCYMNILRX63OEKmwIzORX0f\" });\n\n\nfor(let i=0; i<bh.local.aggResult.length; i++) {\n    let result = await instance.paymentLink.fetch(bh.local.aggResult[i].paymentid);\n    bh.local.aggResult[i].payment = result\n    // .payment\n    // bh.local.aggResult[i].productDetails = null\n}\n\nbh.local.out = bh.local.aggResult\nbh.local.outCode = 200\n",
        "functionName": "sd_2Sr5lwEip8ST9Ckg",
        "category": "Function",
        "x": 725,
        "y": 120,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "customerList_service",
        "generated": true
    },
    {
        "id": "sd_N3jUWffEDU4Qf1Qh",
        "type": "Switch",
        "z": "SSD_SERVICE_ID_sd_qF85PdzcrJoPE5YP",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "property": "isEmpty",
        "propertyType": "bh.local",
        "propertyGv": "bh.local.isEmpty",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "functionName": "sd_N3jUWffEDU4Qf1Qh",
        "category": "Function",
        "x": 605,
        "y": 80,
        "wires": [
            [
                "sd_PgegRpRtv2QPF58Q"
            ],
            [
                "sd_2Sr5lwEip8ST9Ckg"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "customerList_service",
        "generated": true
    },
    {
        "id": "sd_XNcTPTwUYD5qia5w",
        "type": "Script",
        "z": "SSD_SERVICE_ID_sd_qF85PdzcrJoPE5YP",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "if(bh.local.aggResult.length === 0) {\n    bh.local.isEmpty = true\n    bh.local.isEmptyMsg = \"employeeId is not valid\"\n    bh.local.code = 401\n} else {\n    bh.local.isEmpty = false\n    bh.local.code = 200\n}",
        "functionName": "sd_XNcTPTwUYD5qia5w",
        "category": "Function",
        "x": 505,
        "y": 80,
        "wires": [
            [
                "sd_N3jUWffEDU4Qf1Qh"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "customerList_service",
        "generated": true
    },
    {
        "id": "sd_PgegRpRtv2QPF58Q",
        "type": "Script",
        "z": "SSD_SERVICE_ID_sd_qF85PdzcrJoPE5YP",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.local.out = {\n    message: bh.local.isEmptyMsg,\n    statusCode: bh.local.code\n}\n\nbh.local.outCode = 401",
        "functionName": "sd_PgegRpRtv2QPF58Q",
        "category": "Function",
        "x": 725,
        "y": 40,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "customerList_service",
        "generated": true
    }
]
