designs/server/services/getAProduct/getAProduct_service.json
[
    {
        "id": "SSD_SERVICE_ID_sd_yLS697urXP4KRMxs",
        "type": "tab",
        "createdDate": "2023-05-03T12:45:12.651Z",
        "label": "getAProduct_service",
        "disabled": false,
        "info": "",
        "functionSeq": 0,
        "generateNext": true,
        "serviceName": "getAProduct_service",
        "relativeParentPath": "getAProduct"
    },
    {
        "id": "sd_t1YbYlQHl9Sl0mn5",
        "type": "Start",
        "z": "SSD_SERVICE_ID_sd_yLS697urXP4KRMxs",
        "viewType": "client-server",
        "nodeType": "start",
        "name": "",
        "outputs": 1,
        "inputVariables": [],
        "localVariables": [],
        "accept_bh": true,
        "functionName": "sd_t1YbYlQHl9Sl0mn5",
        "category": "General",
        "x": 180,
        "y": 240,
        "wires": [
            [
                "sd_VpXJMowTVWH9oAus"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "getAProduct_service"
    },
    {
        "id": "sd_9SzLGIzAoGOgqa5g",
        "type": "Script",
        "z": "SSD_SERVICE_ID_sd_yLS697urXP4KRMxs",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "const { ObjectId } = require('mongodb');\n\nif (ObjectId.isValid(bh.input.params.id)) {\n  bh.local.isValid = true\n} else {\n bh.local.isValid = false\n}\nconsole.log(\"===========\")",
        "functionName": "sd_9SzLGIzAoGOgqa5g",
        "category": "Function",
        "x": 285,
        "y": 340,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "getAProduct_service"
    },
    {
        "id": "sd_FGNttqHri1VLsJhE",
        "type": "Switch",
        "z": "SSD_SERVICE_ID_sd_yLS697urXP4KRMxs",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "property": "isValid",
        "propertyType": "bh.local",
        "propertyGv": "bh.local.isValid",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "functionName": "sd_FGNttqHri1VLsJhE",
        "category": "Function",
        "x": 385,
        "y": 360,
        "wires": [
            [],
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "getAProduct_service"
    },
    {
        "id": "sd_VpXJMowTVWH9oAus",
        "type": "Script",
        "z": "SSD_SERVICE_ID_sd_yLS697urXP4KRMxs",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.local.findQuery = {_id: bh.input.params.id}\nconsole.log(bh.input.params)\nbh.local.collection = \"product\"",
        "functionName": "sd_VpXJMowTVWH9oAus",
        "category": "Function",
        "x": 580,
        "y": 140,
        "wires": [
            [
                "sd_R8LeAZ9gbFB58gFH"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "getAProduct_service",
        "generated": true
    },
    {
        "id": "sd_yAN6qnIeW8bFzHLa",
        "type": "Script",
        "z": "SSD_SERVICE_ID_sd_yLS697urXP4KRMxs",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.local.response={\n    statusCode:400,\n    message:\"its not valid\"\n}",
        "functionName": "sd_yAN6qnIeW8bFzHLa",
        "category": "Function",
        "x": 485,
        "y": 340,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "getAProduct_service"
    },
    {
        "id": "sd_R8LeAZ9gbFB58gFH",
        "type": "Mongodb",
        "z": "SSD_SERVICE_ID_sd_yLS697urXP4KRMxs",
        "viewType": "server",
        "nodeType": "flow",
        "name": "",
        "databaseConfig": "sd_qYoT2PgM4f1tomGX",
        "collection": "bh.local.collection",
        "options": "",
        "resultMapping": "bh.local.result",
        "operation": "find",
        "argumentArray": [
            "query"
        ],
        "aggregate": "",
        "operations": "",
        "query": "bh.local.findQuery",
        "fieldOrSpec": "",
        "filter": "",
        "key": "",
        "docId": "",
        "indexName": "",
        "replacement": "",
        "update": "",
        "xAxis": "",
        "yAxis": "",
        "indexes": "",
        "docs": "",
        "document": "",
        "newName": "",
        "doc": "",
        "filePath": "",
        "fileName": "",
        "pipeline": "",
        "functionName": "sd_R8LeAZ9gbFB58gFH",
        "category": "Storage",
        "x": 700,
        "y": 140,
        "wires": [
            [
                "sd_JdBKjOPF1kKKNlds"
            ]
        ],
        "__ssdTypeInputs__": {
            "collection": {
                "type": "bh.local",
                "value": "collection",
                "constant": false
            },
            "options": {
                "type": "bh",
                "value": "",
                "nullable": "true",
                "constant": false
            },
            "resultMapping": {
                "type": "bh.local",
                "value": "result",
                "constant": false
            },
            "query": {
                "type": "bh.local",
                "value": "findQuery",
                "constant": false
            }
        },
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "getAProduct_service",
        "generated": true
    },
    {
        "id": "sd_JdBKjOPF1kKKNlds",
        "type": "Switch",
        "z": "SSD_SERVICE_ID_sd_yLS697urXP4KRMxs",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "property": "result.length",
        "propertyType": "bh.local",
        "propertyGv": "bh.local.result.length",
        "rules": [
            {
                "t": "gt",
                "v": "0",
                "vt": "str",
                "gv": "\"0\""
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "functionName": "sd_JdBKjOPF1kKKNlds",
        "category": "Function",
        "x": 840,
        "y": 140,
        "wires": [
            [
                "sd_ofD4dHIVyaDDqQAY"
            ],
            [
                "sd_cBp9L1sldiJzirWh"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "getAProduct_service",
        "generated": true
    },
    {
        "id": "sd_ofD4dHIVyaDDqQAY",
        "type": "Script",
        "z": "SSD_SERVICE_ID_sd_yLS697urXP4KRMxs",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "const product = bh.local.result[0]\n const imageData = {\n    data: product.image[0].buffer.toString('base64'),\n    contentType: product.image[0].mimetype\n  };\n\n  const resp = {\n    id: product._id,\n    name: product.name,\n    price: product.price,\n    description: product.description,\n    image: imageData,\n    weight:product.gram,\n    category:product.category\n  }\n\nbh.local.response={\n    statusCode:200,\n    result:resp\n}",
        "functionName": "sd_ofD4dHIVyaDDqQAY",
        "category": "Function",
        "x": 940,
        "y": 60,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "getAProduct_service",
        "generated": true
    },
    {
        "id": "sd_cBp9L1sldiJzirWh",
        "type": "Script",
        "z": "SSD_SERVICE_ID_sd_yLS697urXP4KRMxs",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.local.response={\n    statusCode:400,\n    message:\"no result found\"\n}",
        "functionName": "sd_cBp9L1sldiJzirWh",
        "category": "Function",
        "x": 945,
        "y": 200,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "getAProduct_service",
        "generated": true
    }
]
